.anchor-element {
  padding-right: 1em;
  &:hover {
    .anchor-link {
      visibility: visible;
    }
  }
}

a.anchor-link {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s ease;
  margin: 0 .25em;
  opacity: 0.5;
  text-decoration: none;
  &::after {
    content: "#";
    position: absolute;
  }
  &:hover {
    opacity: 1;
  }
}
