<ul>
{{#each pages}}
  {{#unless isChild}}
    <li>
      <a href="{{url}}">{{title}}</a>

      {{#if children}}
        {{> "partials/nav" pages=children}}
      {{/if}}
    </li>
  {{/unless}}
{{/each}}
</ul>