<ul>
{{#each navigation}}
  {{#unless (skipPage this ../sublevel)}}
    <li>
      <a href="{{url}}">{{title}}</a>

      {{#if children}}
        {{> "partials/nav" navigation=children sublevel=true}}
      {{/if}}
    </li>
  {{/unless}}
{{/each}}
</ul>