.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

table {
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-collapse: collapse;
}

th, td {
  border-top: 1px solid;
  border-right: 1px solid;
  padding: 4px 8px;
}

th[scope="row"] {
  background-color: lightgreen;
}
th[scope="col"] {
  background-color: lightpink;
}
