.search {
  margin-left: 30px;
  margin-bottom: 30px;
  z-index: 2;

  .search--wrapper {
    display: flex;
  }

  .search--toggle {
    @include searchbtn;
    order: 1;

    @include btn-focus;
  }

  .search--field {
    flex: 1;
    position: static !important;

    &:after {
      content: "";
      display: inline-block;
      @include searchbtn;
      position: absolute;
      right: 35px;
      opacity: 0.6;
    }
  }

  .search--input {
    float: right;
    width: 0;
    height: 0;
    padding: 10px 50px 10px 20px;
    border: none;
    border-radius: 34px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    display: none;
    font-family: inherit;
    font-weight: 300;
    display: inline;
    width: 100%;
    height: 45px;
    transition: width 0.25s, height 0.25s, padding 0.25s;

    @include btn-focus;
  }
}

// Overrides for the default SiteSearch 360 styles
#unibox-suggest-box {
  margin-top: 46px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-weight: 300;
  border: none;
  left: auto !important;
  top: auto !important;
  right: auto !important;
  overflow: auto !important;
  max-height: calc(100vh - 210px);

  @media (min-width: $site-width) {
    width: 450px;
  }

  > * > div {
    padding: 4px 8px !important;
  }

  .unibox-selectable {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &.active,
    &:hover {
      background: var(--theme-color-dark);
    }

    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }

    a {
      white-space: normal;
      font-size: 110%;
      font-weight: bold;
      color: $c-black;
    }

    .unibox-result-content {
      margin-top: 0;
      margin-bottom: 10px;
    }

    .unibox-extra {
      position: static;
    }
  }
}

@include mobile-narrow {
  #unibox-suggest-box {
    right: -60px;
  }
}

@include above-mobile {
  .search--input {
    width: 450px;
  }

  #unibox-suggest-box {
    right: 0;
    left: auto !important;
  }
}

#unibox-controls-description {
  display: none;
}

label[for="search--input"] {
  display: none;
}
