<div class="search js-search" role="search">
	<h2 class="visuallyhidden">Search</h2>
	<div class="search--wrapper">
    <button class="search--toggle" title="Search">
      <span class="visuallyhidden">Show search</span>
    </button>
    <div class="search--field">
      <label for="search--input">Search terms</label>
      <input id="search--input" class="search--input" type="text">
    </div>
  </div>
</div>
