<div class="search js-search">
	<h2 class="visuallyhidden">Search</h2>
	<button class="search--toggle">
    <span class="visuallyhidden">Search</span>
  </button>
	<input class="search--input" type="text">
	<button class="search-btn visuallyhidden">Suche</button>
</div>
