<div class="search js-search" role="search">
	<h2 class="visuallyhidden">Search</h2>
	<div class="search--wrapper">
    <div class="search--field">
      <label for="search--input">Search terms</label>
      <input id="search--input" class="search--input" type="text" placeholder="Search the guide...">
    </div>
  </div>
</div>
