<div class="search js-search" role="search">
	<h2 class="visuallyhidden">Search</h2>
	<div>
    <button class="search--toggle">
      <span class="visuallyhidden">Show search</span>
    </button>
    <label for="search--input">Search terms</label>
    <input id="search--input" class="search--input" type="text">
  </div>
</div>
