.meta-info {
  @include rem(padding-top, $gutter);

  display: flex;
  font-size: 0.8rem;
  border-top: 1px solid var(--theme-main-color-inverse, $c-white);

  .theme-contribute & {
    border-color: var(--theme-color-medium, $c-gray);
  }
}

.meta-info__title {
  margin-right: 0.5em;
}

.meta-info__logo {
  display: block;
  width: 1.5em;
  height: 1.5em;
}
