.meta-info {
  @include rem(padding-top, $gutter);

  display: flex;
  font-size: 0.8rem;
  border-top: 1px solid $c-white;

  .theme-contribute & {
    border-color: $c-gray;
  }
}

.meta-info__title {
  font-weight: bold;
  margin-right: 0.5em;
}
