
<h2 class="visuallyhidden">
  About this page
</h2>
<p class="meta-info">
  <span class="meta-info__title">
    Last updated:
  </span>
  <span class="meta-info__value">
    {{ formatDate changed }}
  </span>
</p>
