
<h2 class="visuallyhidden">
  About this page
</h2>
<p class="meta-info">
  <span class="meta-info__title">
    File history:
  </span>
  <span class="meta-info__value">
    <a href="{{ fileHistory }}">
      {{{ inlineSvg "src/assets/img/logo/github.svg" class="meta-info__logo" }}}
      <span class="visuallyhidden">GitHub source</span>
    </a>
  </span>
</p>
