$navWidthMin: 80px;
$navWidthMax: 260px;

@mixin navbar_white_line__pseudo {
  @include navbar_white_line__bg;
  content: '';
  position: absolute;
  display: inline-block;
  opacity: 1;
}

@mixin navbar_white_line__bg {
  background-color: var(--theme-main-color-inverse, $c-white);
  .theme-contribute & {
    background-color: var(--theme-color-medium, $c-gray);
  }
}
