$navWidthMin: 80px;
$navWidthMax: 300px;

.navbar {
  @include above-mobile {
  	position: fixed;
  	left: 0; top: 0;
  }
	background-color: $c-white;
  @include theme-background-color;
	z-index: 1;
	height: 100vh;
	display: inline-block;
  min-width: $navWidthMin;
  font-size: 0;

  @include mobile {
    width: 100%;
    left: auto;
    height: auto;
  }

}

.navbar--logo {
  margin-top: 30px;
  margin-bottom: 60px;
  width: $navWidthMin;
  text-align: center;
  @include above-mobile {
    z-index: 1;
  }
}

.navbar--container {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .navbar--logo {
    flex: 0 0 auto;
    align-self: auto;
  }
  .navbar--search {
    flex: 0 0 auto;
    align-self: auto;
  }

  .navbar--inner {
      flex: 1 1 auto;
      align-self: auto;
  }
}

.navbar--container {
  @include font-xs;

  @include mobile {
    height: auto;
  }
}

.navbar--inner {
  overflow: auto;
  width: $navWidthMax;
  max-width: 100vw;
}





@include tablet {
  .navbar--search,
  .navbar--inner {
    display: none;
  }
  .navbar--toggle--input:checked ~ .navbar {
    .navbar--inner,
    .navbar--search {
      display: block;
    }
    .navbar--toggle-search {
      display: none;
    }
  }
}

@include above-mobile {
  .footer,
  .site-content {
    padding-left: $navWidthMin;
  }
  .navbar--toggle--input:checked ~ .footer,
  .navbar--toggle--input:checked ~ .site-content {
    padding-left: $navWidthMax;
  }
}

@include above-tablet {
  .footer,
  .site-content {
    padding-left: $navWidthMax;
  }
  .navbar--toggle {
    display: none;
  }
}


.navbar--toggle {
  cursor: pointer;
  padding: 0 ($navWidthMin - 40px) / 2;
  background-color: $c-white;
  @include theme-background-color;
  position: absolute;
  right: 0;
  top: 0; bottom: 0px;
  width: $navWidthMin;

  @include mobile {
    height: 40px;
    bottom: auto;
    left: auto; right: 10px;
    top: 30px;
  }
  &.navbar--toggle-search {
    @include searchbtn;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    @include mobile {
      display: none;
    }
  }
}

.navbar--toggle--inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.navbar--toggle--input {
  @include visuallyhidden;
}
.navbar--toggle--line {
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  position: relative;

  background: $c-black;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 50% 50%;

  transition: transform 0.4s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.4s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.45s ease;

	.navbar--toggle--input:checked ~ .navbar .navbar--toggle & {
	  opacity: 1;
	  transform: translateY(10px) rotate(45deg) ;

	  &:nth-last-child(2) {
		  opacity: 0;
		  transform: rotate(0deg) scale(0.2, 0.2);
		}

		&:nth-last-child(1) {
		  transform: translateY(-10px) rotate(-45deg) ;
		}
	}
}




