<nav class="navbar">
  <h1 class="visuallyhidden">Navigation</h1>

  <!-- The checkbox isn't announced "in one go" in browse mode (NVDA, didn't check others). This is due to the label is not being displayed inline. -->
  <input class="navbar--toggle--input" type="checkbox" id="navbar-toggle" />
  <label class="navbar--toggle" for="navbar-toggle">
    <span class="navbar--toggle--inner">
      <span class="navbar--toggle--line"></span>
      <span class="navbar--toggle--line"></span>
      <span class="navbar--toggle--line"></span>
    </span>
    <span class="visuallyhidden">Show/hide navigation</span>
  </label>
  <div class="navbar--container">
    <div class="navbar--inner">
  	  <div class="navbar--nav">
  	    <ul class="navbar--nav--list nav-list nav-list-main js-collapsible--container">
  	      {{> "global/nav-list/nav-list" navigation}}
  	    </ul>
  	  </div>
    </div>
    <div class="navbar--search">
      {{> "global/search/search"}}
    </div>
  </div>
</nav>
