
<nav class="navbar js-mainnav">
  <h1 class="visuallyhidden">Navigation</h1>
  <div class="navbar--container">
    <div class="navbar--logo">
      {{> "global/logo/logo"}}
    </div>

    <button class="navbar--toggle js-mainnav-toggle" title="Menu" type="button" aria-expanded="false" aria-controls="navbar-inner">
      <span class="navbar--toggle--inner">
        <span class="navbar--toggle--line"></span>
        <span class="navbar--toggle--line"></span>
        <span class="navbar--toggle--line"></span>
      </span>
      <span class="visuallyhidden">Menu</span>
    </button>
    <div class="navbar--inner" id="navbar-inner">
  	  <div class="navbar--nav">
        {{> "global/search/search"}}
  	    <ul class="navbar--nav--list nav-list nav-list-main">
  	      {{> "global/nav-list/nav-list" navigation}}
  	    </ul>
  	  </div>
    </div>
  </div>
</nav>
