<input class="navbar--toggle--input" type="checkbox" id="navbar-toggle" />
<nav class="navbar">
  <h1 class="visuallyhidden">Navigation</h1>
  <label class="navbar--toggle" for="navbar-toggle" title="Open/Close Menu">
    <span class="navbar--toggle--inner">
      <span class="navbar--toggle--line"></span>
      <span class="navbar--toggle--line"></span>
      <span class="navbar--toggle--line"></span>
    </span>
    <span class="visuallyhidden">Open/Close Menu</span>
  </label>
  <div class="navbar--container">
    <div class="navbar--logo">
      {{> "global/logo/logo"}}
    </div>
    <div class="navbar--inner">
  	  <div class="navbar--nav">
  	    <ul class="navbar--nav--list nav-list nav-list-main">
  	      {{> "global/nav-list/nav-list" navigation}}
  	    </ul>
  	  </div>
      {{> "global/search/search"}}
    </div>
  </div>
</nav>
