<nav class="navbar js-collapsible" data-collapsible-options='{"containerSelector": "html"}'>
  <button class="navbar--toggle js-collapsible--toggle"><span class="navbar--toggle--line"></span><span class="navbar--toggle--line"></span><span class="navbar--toggle--line"></span><span class="visuallyhidden">Open/Close Menu</span></button>
  <div class="navbar--container">
    <div class="navbar--inner">
  	  <div class="navbar--nav">
  	    <ul class="navbar--nav--list nav-list nav-list-main js-collapsible--container">
  	      {{> "global/nav-list/nav-list" navigation}}
  	    </ul>
  	  </div>
    	{{> "global/search/search"}}
    </div>
  </div>
</nav>
