<!doctype html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
</head>
<body>
  <div id="body">
    <header class="header" id="header">
        <h1 class="visuallyhidden">Accessibility Developer Guide</h1>
        {{> "global/navbar/navbar"}}
    </header>
    <div id="main-content" class="site-content" role="main">
      {{> "global/breadcrumbs/breadcrumbs"}}
      {{> "content/main_title/main_title" title=title}}
      {{> "content/text_container/text_container" content=contents}}
    </div>
  </div>

  <script src="/js/scripts.js"></script>
</body>
</html>
