<!doctype html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    {{> "global/nav/nav"}}

    <div class="container">
      {{{contents}}}
    </div>      
  </div>
  
  <script src="/js/scripts.js"></script>
</body>
</html>
