{{#each navigation}}
  {{#unless (skipPage this ../sublevel)}}
    <li class="nav-item{{#if children}} dropdown{{/if}}">
      <a class="nav-link{{#if children}} dropdown-toggle{{/if}}" href="/{{url}}"{{#if children}} id="nav{{@key}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{{/if}}>
        {{title}}
      </a>

      {{#if children}}
        <ul class="dropdown-menu" aria-labelledby="nav{{@key}}">
          {{> "nav-list" navigation=children sublevel=true}}
        </ul>
      {{/if}}
    </li>
  {{/unless}}
{{/each}}
