p How is the following link announced by screen readers?

a href="..." aria-describedby="description1 description2" Google

#description1 The world's best known search engine
#description2 But still not the only search engine on the planet

p Is this what you expected?