*:focus {
  outline: 2px dotted;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -10000px;
}
.visually-hidden:focus {
  left: 20px;
  width: auto;
  height: auto;
}

#jump {
  background-color: white;
  padding: 10px;
}