*:focus {
  outline: 2px dotted #000;
}

[data-adg-sr-only] {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

[data-adg-tooltip] + span {
  font-weight: bold;
  padding: 0 4px;
  position: relative;
  background-color: #fff;
}
[data-adg-tooltip] + span:hover {
  cursor: help;
}
[data-adg-tooltip] + span span {
  display: none;
  background-color: #fff;
  border: 1px solid;
  border-radius: 3px;
  padding: 2px 6px;
  position: absolute;
  left: 100%;
  top: -3px;
  white-space: nowrap;
}