<a class="logo" href="/">
  {{{ inlineSvg "src/assets/img/logo/adg.svg" class="logo-img" }}}
  <span class="logo-title">Accessibility Developer Guide</span>
  <span class="visuallyhidden">(to home page)</span>
</a>
