<a class="logo" href="/">
	<img class="logo-img" src="/img/logo/adg.svg" alt="Logo">
  <span class="logo-title">Accessibility Developer Guide</span>
  <span class="visuallyhidden">(to home page)</span>
</a>
