.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

body {
  padding: 20px;
}

.tablist {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #cff7cf;
}

.control {
  display: inline-block;
}
.control label {
  border: 1px solid black;
  margin: 0 0 -1px 0;
  padding: 4px 10px;
  background-color: lightgray;
}

input[type="radio"]:checked + label {
  background-color: #fff;
  border-bottom-color: #fff;
}

a:focus,
input:focus,
input[type="radio"]:focus + label {
  outline: 2px dotted red;
  outline-offset: 2px;
}

input[type="radio"] + label:hover {
  cursor: pointer;
}

.panel {
  border: 1px solid;
  background-color: white;
  padding: 0 0 0 10px;
}