@import "highlight.js/styles/github";
@import "bootstrap/scss/bootstrap";

$colors: (
  default: black,
  active: red
);

a {
  color: map-get($colors, default);

  &:hover,
  &:focus {
    color: map-get($colors, active);
  }
}

.code {

  .title {

  }
}

pre {
  
  code {
    display: block;
    background: #eee;
    border: 1px solid #ddd;
    padding: 1em;
  }
}