html {
	width: 100%;
	overflow-x: hidden;
	font-size: $base-font-size;
	font-size: $base-font-size / 16px * 100%;
	@include tablet {
		font-size: $base-font-size / 16px * 95%;
	}
	@include mobile {
		font-size: $base-font-size / 16px * 90%;
	}
	@include mobile-portrait {
		font-size: $base-font-size / 16px * 85%;
	}
	text-size-adjust: 100%;
	background-color: $c-white;
	&.no-overflow {
		overflow-y: hidden;
	}
}

body {
	@include body-font;
	overflow-x: hidden;
	background-color: $c-background;

	@media print {
		background-color: $c-white;
	}
}

body,
input,
select,
button,
textarea {
	@include textantialiasing;
}


// links
a:active {
	outline: none;
}

a:selected {
	border: none;
	outline: none;
}

*:focus {
//  outline: none;
}

abbr {
	border-bottom: 1px dotted gray;
}

p sup {
	position: relative;
	top: -0.75ex;
}

p sub {
	position: relative;
	top: 0.5ex;
}

button {
	cursor: pointer;
	border-radius: 0;

	// DEV, replace with real styles
	&.codepen {
		background-image: url("/img/logo/codepen.svg");
		background-repeat: no-repeat;
		background-position: .5em center;
		background-size: 20px;
		padding-left: 40px;
	}
}

p img {
  border: 1px solid;
  max-width: 100%;
}

.example-link {

  &-text {
    display: inline-block;
    width: 100%;
		text-decoration: underline;
		padding-bottom: 5px;
  }
}

.accordion {
  font-weight: bold;

  .control {
    display: inline-block;
    label:hover {
      cursor: pointer;
    }
    input {
      @include visuallyhidden;

      + label::before {
        content: '▾';
      }

      &:checked + label::before {
        content: '▴';
      }

      &:focus + label {
        outline: auto;
      }
    }
  }
}
