html {
	width: 100%;
	overflow-x: hidden;
	font-size: $base-font-size;
	font-size: $base-font-size / 16px * 100%;
	@include tablet {
		font-size: $base-font-size / 16px * 95%;
	}
	@include mobile {
		font-size: $base-font-size / 16px * 90%;
	}
	@include mobile-portrait {
		font-size: $base-font-size / 16px * 85%;
	}
	text-size-adjust: 100%;
	background-color: $c-white;
	&.no-overflow {
		overflow-y: hidden;
	}
}

body {
	@include body-font;
	overflow-x: hidden;
	background-color: $c-background;

	@media print {
		background-color: $c-white;
	}
}

body,
input,
select,
button,
textarea {
	@include textantialiasing;
}


// links
a:active {
	outline: none;
}

a:selected {
	border: none;
	outline: none;
}

*:focus {
//  outline: none;
}

abbr {
	border-bottom: 1px dotted gray;
}

p sup {
	position: relative;
	top: -0.75ex;
}

p sub {
	position: relative;
	top: 0.5ex;
}

button {
	cursor: pointer;
	border-radius: 0;

	// DEV, replace with real styles
	&.codepen {
    font-weight: bold;
	}
}

p img {
  border: 1px solid;
}

.visually-hidden {
  position: absolute;
  left:     -10000px;
  top:      auto;
  width:    1px;
  height:   1px;
  overflow: hidden;
}

p.example {
  margin-bottom: 0 !important; /* This is ugly... */
  font-weight: bold;

  span {
    display: inline-block;
    width: 100%;
  }
}

.accordion {
  font-weight: bold;

  .control {
    label:hover {
      cursor: pointer;
    }

    input {
      width: 10px;
      margin-left: -10px;
      opacity: 0;
    }

    input:focus + label {
      outline: auto;
    }
  }
}

footer {;
  text-align: center;
}

code {
  border: 1px solid var(--theme-main-color);
  background-color: lightgreen;
}
