$c-black: #000000;
$c-white: #ffffff;
$c-font: #272727;
$c-background: #ffffff;




$c-green: #007715;
$c-red: #AA1C00;
$c-yellow: #A05623;
$c-blue: #005FBD;

$c-green-light: #cceeb9;
$c-red-light: #FFBBAC;
$c-yellow-light: #ffe6be;
$c-blue-light: #A3E6FD;

// font families
$brand-font: 'Eczar', Georgia, serif;
$base-font: 'Work Sans', sans-serif;

// text
$base-font-size: 20px;
$base-line-height: 1.5;
$base-font-color: $c-font;

// mesurements
$site-width: 820px;
$site-width-wide: 1200px;
$gutter: 30px;
$site-maxWidth: 980px;
