$c-black: #000000;
$c-white: #ffffff;
$c-gray: #e5e5e5;
$c-font: #272727;
$c-background: #ffffff;

$c-green: #006613;
$c-red: #8f1800;
$c-yellow: #994613;
$c-blue: #0054a8;

$c-green-light: #dff4d4;
$c-red-light: #ffd7ce;
$c-yellow-light: #fff0d8;
$c-blue-light: #c9f0fe;

// font families
$brand-font: 'Eczar', Georgia, serif;
$base-font: 'Work Sans', sans-serif;

// text
$base-font-size: 20px;
$base-line-height: 1.5;
$base-font-color: $c-font;

// mesurements
$site-width: 820px;
$site-width-wide: 1200px;
$gutter: 30px;
$site-maxWidth: 980px;
