$c-black: #000000;
$c-white: #ffffff;
$c-font: #272727;
$c-background: #ffffff;




$c-green: #008417;
$c-red: #ba1f00;
$c-yellow: #ff9d00;
$c-blue: #006edb;

$c-green-light: #cceeb9;
$c-red-light: #fb9985;
$c-yellow-light: #ffe6be;
$c-blue-light: #94e2fd;

// fonts & text

// font families
$brand-font: 'Work Sans', sans-serif;
$base-font: 'Work Sans', sans-serif;

// text
$base-font-size: 20px;
$base-line-height: 1.5;
$base-font-color: $c-font;

// mesurements
$site-width: 820px;
$site-width-wide: 1200px;
$gutter: 30px;
$site-maxWidth: 980px;
