*:focus,
[data-adg-accordion] button[aria-controls]:focus {
  outline: 2px dotted #000;
}

[data-adg-accordion] button[aria-controls] {
  all: inherit;
  display: block;
  width: 100%;
  color: #0000ee;
  text-decoration: underline;
  cursor: pointer;
}
