
.theme {
  @include theme-background-color;
}

.theme-0 {
  --theme-color-dark: $c-yellow;
  --theme-color-light: $c-yellow-light;

  --theme-bg-color: $c-yellow-light;
  --theme-main-color: $c-black;
  &.is-below {
    --theme-bg-color: $c-white;
    --theme-main-color: $c-yellow;
  }
}
.theme-1 {
  --theme-color-dark: $c-green;
  --theme-color-light: $c-green-light;

	--theme-bg-color: $c-green-light;
	--theme-main-color: $c-black;
  &.is-below {
    --theme-bg-color: $c-white;
    --theme-main-color: $c-green;
  }
}
.theme-2 {
  --theme-color-dark: $c-red;
  --theme-color-light: $c-red-light;
  
  --theme-bg-color: $c-red-light;
  --theme-main-color: $c-black;
  &.is-below {
    --theme-bg-color: $c-white;
    --theme-main-color: $c-red;
  }
}
.theme-3 {
  --theme-color-dark: $c-blue;
  --theme-color-light: $c-blue-light;
  
  --theme-bg-color: $c-blue-light;
  --theme-main-color: $c-black;
  &.is-below {
    --theme-bg-color: $c-white;
  --theme-main-color: $c-blue;
  }
}
