*:focus {
  outline: 2px dotted #000;
}

p {
  clear: left;
}
p button {
  margin-top: 20px;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

ol {
  padding: 0;
  display: flex;
  list-style: none;
}
ol ol {
  position: absolute;
  right: 0;
  top: 100%;
  flex-direction: column;
}
ol[hidden] {
  display: none;
}

ol li {
  position: relative;
  display: flex;
}

ol button {
  all: inherit;
}
ol a,
ol button {
  display: block;
  border: 1px solid #000;
  color: #000;
  background-color: lightyellow;
  padding: 10px;
  width: 170px;
  box-sizing: border-box;
  text-decoration: none;
}
ol button {
  width: auto;
  margin-left: -1px;
  cursor: pointer;
}
ol a:hover,
ol button:hover {
  text-decoration: underline;
}
ol ol a {
  width: 200px;
}
