<div class="example">
  <p>
    <a href="{{href}}">
      <span class="title">{{title}}</span>
      <img src="{{img}}" alt="Example preview" />
    </a>
  </p>

  {{> "base/accordion/accordion" items=accordionItems}} // [{:title => "bla", :content => "bla"}]

  <form>
    <button>
      Play around on CodePen
    </button>
  </form>
</div>
