#flying-focus {
	position: absolute;
	margin: 0;
	top: -100px;
	background: transparent;
	transition-property: left, top, width, height, opacity;
	transition-timing-function: cubic-bezier(0, 0.2, 0, 1);
	visibility: hidden;
	pointer-events: none;
	display: none;
}

#flying-focus.flying-focus_visible {
	visibility: visible;
	z-index: 10000000;
	display: block;
}

#flying-focus:after {
	content: '';
	position: absolute;
	top: -9px;
	left: -9px;
	bottom: -9px;
	right: -9px;
	border-radius: 3px;
	// box-shadow: 0 0 9px 1px rgba(black, 0.55), 0 0 5px 1px rgba(255, 255, 255, 0.9) inset; // if without border
	box-shadow: 0 0 54px 0px rgba(0, 0, 0, 0.25), 0 0 5px 1px rgba(255, 255, 255, 1) inset;
	border: 1px solid rgba(0,10,20,0.35);
}
