.prev_next {
  @include rem(margin-top, 4 * $gutter);

  &__link {
    @include card;
    box-shadow: 0 10px 34px 0 rgba(0, 0, 0, 0.2);
    width: 48%;
    float: left;

    &--next {
      float: right;
      text-align: right;
    }
  }
}
