<div class="prev_next">
  <div class="text_container">
    <h2>Continuity navigation</h2>
  </div>

  {{#if prev}}
    <a href="/{{prev.url}}" class="prev_next__link">👈 {{prev.title}}</a>
  {{/if}}

  {{#if next}}
    <a href="/{{next.url}}" class="prev_next__link prev_next__link--next">{{next.title}} 👉</a>
  {{/if}}
</div>
