.footer {
}

.footer--inner {
  @include l-site_width;
  @include clearfix;
  margin-top: $gutter;
  margin-bottom: $gutter;
}

@include above-tablet-portrait {
  .footer--left {
    float: left;
  }
  .footer--right {
    float: right;
  }
}

.footer--agencies {
  display: flex;
  align-items: center;
  margin-bottom: $gutter;
}

.footer--agency {
  margin-right: $gutter;

  &:last-child {
    margin-right: 0;
  }
}

.footer--logolink {
  height: 60px;
  position: relative;

  img {
    border: 0;
  }
}

.footer--copy {
  clear: both;
}
