<footer class="footer">
	<div class="footer--inner">
	  <div class="footer--left">
	    <p class="footer--label">Accessibility Developer Guide</p>
	  </div>
	  <div class="footer--right">
	    <p class="footer--label footer--label-copy">&copy; 2018 Zugang für alle</p>
	  </div>
	</div>
</footer>
