<footer class="footer site-content">
  <h1 class="visuallyhidden">Footer</h1>
	<div class="footer--inner">
	  <div class="footer--left">
      <p class="footer--label">An initiative of:</p>
      <ul class="footer--agencies">
      <li class="footer--agency">
        <a class="footer--logolink" href="http://www.access-for-all.ch/" target="_blank" title="Foundation «Access for all»" style="background-image: url(/img/logo/zfa.png);" rel="noopener noreferrer">
          <img src="/img/logo/zfa.png" alt="Foundation «Access for all»" />
        </a>
      </li>
      </ul>
	  </div>
	  <div class="footer--right">
	    <p class="footer--label">In cooperation with:</p>
      <ul class="footer--agencies">
        <li class="footer--agency">
          <a class="footer--logolink" href="https://www.deptagency.com/" target="_blank" title="Dept Agency" style="background-image: url(/img/logo/dept.png);" rel="noopener noreferrer">
            <img src="/img/logo/dept.png" alt="Dept Agency" />
          </a>
        </li>
        <li class="footer--agency">
          <a class="footer--logolink" href="https://www.unic.com/" target="_blank" title="Unic" style="background-image: url(/img/logo/unic.png);" rel="noopener noreferrer">
            <img src="/img/logo/unic.png" alt="Unic" />
          </a>
        </li>
        <li class="footer--agency">
          <a class="footer--logolink" href="https://www.nothing.ch/" target="_blank" title="Nothing" style="background-image: url(/img/logo/nothing.png);" rel="noopener noreferrer">
            <img src="/img/logo/nothing.png" alt="Nothing" />
          </a>
        </li>
        <li class="footer--agency">
          <a class="footer--logolink" href="https://www.liip.ch/" target="_blank" title="Liip" style="background-image: url(/img/logo/liip.png);" rel="noopener noreferrer">
            <img src="/img/logo/liip.png" alt="Liip" />
          </a>
        </li>
        </li>
        <li class="footer--agency">
          <a class="footer--logolink" href="https://www.zeix.com/" target="_blank" title="Zeix" style="background-image: url(/img/logo/zeix.png);" rel="noopener noreferrer">
            <img src="/img/logo/zeix.png" alt="Zeix" />
          </a>
        </li>
      </ul>
	  </div>
    <p class="footer--label">
      Further information: <br>
      <a href="/introduction/privacy-policy/">Privacy policy</a> -
      <a href="/introduction/license/">License</a> -
      <a href="/feed/rss.xml">Feed</a> -
      <a href="https://github.com/Access4all/adg/">GitHub</a> -
      <a href="https://www.facebook.com/AccessibilityDeveloperGuide">Facebook</a> -
      <a href="https://twitter.com/A11yDevGuide">Twitter</a> -
    </p>
    <p class="footer--label">
      Based strictly on <a href="https://www.w3.org/">W3C</a>'s <a href="https://www.w3.org/TR/WCAG21/">WCAG 2.1</a> and <a href="https://www.w3.org/TR/WCAG20-TECHS/aria">ARIA</a> |
      Generously hosted by <a href="https://www.netlify.com/">Netlify</a>
    </p>
	</div>
</footer>
