<footer class="footer site-content">
  <h1 class="visuallyhidden">Footer</h1>
	<div class="footer--inner">
	  <div class="footer--left">
      <p class="footer--label">An initiative of:</p>
      <ul class="footer--agencies">
      <li class="footer--agency">
        <a class="footer--logolink" href="http://www.access-for-all.ch/" target="_blank" title="Foundation «Access for all»" style="background-image: url(/img/logo/zfa.png);">
          <img src="/img/logo/zfa.png" alt="Foundation «Access for all»" />
        </a>
      </li>
      </ul>
	  </div>
	  <div class="footer--right">
	    <p class="footer--label">In cooperation with:</p>
      <ul class="footer--agencies">
        <li class="footer--agency">
          <a class="footer--logolink" href="https://www.hinderlingvolkart.com/" target="_blank" title="Hinderling Volkart AG" style="background-image: url(/img/logo/hv.png);">
            <img src="/img/logo/hv.png" alt="Hinderling Volkart" />
          </a>
        </li>
        <li class="footer--agency">
          <a class="footer--logolink" href="https://www.unic.com/" target="_blank" title="UNIC AG" style="background-image: url(/img/logo/unic.png);">
            <img src="/img/logo/unic.png" alt="Unic" />
          </a>
        </li>
        <li class="footer--agency">
          <a class="footer--logolink" href="https://www.nothing.ch/" target="_blank" title="Nothing AG" style="background-image: url(/img/logo/nothing.png);">
            <img src="/img/logo/nothing.png" alt="Nothing AG" />
          </a>
        </li>
        <li class="footer--agency">
          <a class="footer--logolink" href="https://www.liip.ch/" target="_blank" title="Liip AG" style="background-image: url(/img/logo/liip.png);">
            <img src="/img/logo/liip.png" alt="Liip" />
          </a>
        </li>
        </li>
        <li class="footer--agency">
          <a class="footer--logolink" href="https://www.zeix.com/" target="_blank" title="Zeix AG" style="background-image: url(/img/logo/zeix.png);">
            <img src="/img/logo/zeix.png" alt="Zeix" />
          </a>
        </li>
      </ul>
	  </div>
    <p class="footer--label">
      Further information:
      <a href="/introduction/license/">License</a> -
      <a href="/feed/rss.xml">Feed</a> -
      <a href="https://github.com/Access4all/adg/">GitHub</a> -
      <a href="https://www.facebook.com/AccessibilityDeveloperGuide">Facebook</a> -
      <a href="https://twitter.com/A11yDevGuide">Twitter</a>
    </p>
	</div>
</footer>
