<footer class="footer">
  <h1 class="visuallyhidden">Footer</h1>
	<div class="footer--inner">
	  <div class="footer--left">
	    <p class="footer--label">Accessibility Developer Guide | <a href="https://www.facebook.com/AccessibilityDeveloperGuide">Facebook</a></p>
	  </div>
	  <div class="footer--right">
	    <p class="footer--label footer--label-copy">&copy; 2018 Zugang für alle</p>
	  </div>
	</div>
</footer>
