<footer class="footer">
  <h1 class="visuallyhidden">Footer</h1>
	<div class="footer--inner">
    <p class="footer--label">Accessibility Developer Guide |
      <a href="https://www.facebook.com/AccessibilityDeveloperGuide">Facebook</a> |
      <a href="https://github.com/Access4all/adg/">GitHub</a>
    </p>
	  <div class="footer--left">
      <p class="footer--label">An initiative of</p>
      <p>
        <a class="footer--logolink" href="http://www.access-for-all.ch/" target="_blank">
          <img src="/img/logo/zfa.gif" width="138" height="40" alt="Foundation Access for all" />
        </a>
      </p>
	  </div>
	  <div class="footer--right">
	    <p class="footer--label">In cooperation with</p>
      <ul class="footer--agencies">
        <li class="footer--agency">
          <a class="footer--logolink" href="https://www.hinderlingvolkart.com/" target="_blank">
            <img src="/img/logo/hv.png" width="60" height="60" alt="Hinderling Volkart" />
          </a>
        </li>
        <li class="footer--agency">
          <a class="footer--logolink" href="https://www.liip.ch/" target="_blank">
            <img src="/img/logo/liip.png" width="109" height="40" alt="Liip" />
          </a>
        </li>
        <li class="footer--agency">
          <a class="footer--logolink" href="https://www.unic.com/" target="_blank">
            <img src="/img/logo/unic.png" width="54" height="54" alt="Unic" />
          </a>
        </li>
        <li class="footer--agency">
          <a class="footer--logolink" href="https://www.zeix.com/" target="_blank">
            <img src="/img/logo/zeix.png" width="134" height="40" alt="Zeix" />
          </a>
        </li>
      </ul>
	  </div>
    <p class="footer--label footer--copy">&copy; 2018 Zugang für alle</p>
	</div>
</footer>
