<div class="cardmenu--card cardmenu--card-article">
    <span class="cardmenu--card--label">{{title}}</span>
    <p class="cardmenu--card--linklabel">read<span class="cardmenu--card--icon"></span></p>
</div>
