<div class="cardmenu--card cardmenu--card-article">
    <span class="cardmenu--card--label">{{title}}</span>
    <span class="cardmenu--card--link">read<span class="cardmenu--card--icon"></span></span>
    
</div>
