<nav class="cardmenu">
    <ul class="cardmenu--list">
      {{#each menuitem}}
        <li class="cardmenu--list--item" role="presentation">
            <a class="cardmenu--list--item--link{{#if modifier}} cardmenu--list--item--link-{{modifier}}{{/if}}" href="/{{url}}">
              {{#if isSection}}
                {{> "content/cardmenu/cardmenu-section-card" }}
              {{else}}
                {{> "content/cardmenu/cardmenu-article-card" }}
              {{/if}}
            </a>
        </li>
      {{/each}}
    </ul>
</nav>
