<div class="cardmenu--card cardmenu--card-part">
  <div class="cardmenu--card--inner">
    <span class="cardmenu--card--icon"></span>
    <span class="cardmenu--card--label">{{title}}</span>
  </div>
</div>
