<div class="cardmenu--card cardmenu--card-article">
  <div class="cardmenu--card--inner">
    <span class="cardmenu--card--label">{{title}}</span>
    {{#if lead}}
      <span class="cardmenu--card--lead">{{lead}}</span>
    {{/if}}
  </div>
  {{!-- <p class="cardmenu--card--linklabel">read<span class="cardmenu--card--icon"></span></p> --}}
</div>
