table {
  border-collapse: collapse;
}

thead th {
  background-color: lightpink;
}

tbody th {
  background-color: lightgreen;
}

th, td {
  border: 1px solid;
}

img {
  width: 32px;
  height: 32px;
}

@media only screen and (max-width: 600px) {
  .hidden-narrow {
    display: none;
  }
}
@media only screen and (min-width: 601px) {
  .hidden-wide {
    display: none;
  }
}