.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

body {
  padding: 20px;
}

fieldset {
  border: 0;
  padding: 4px;
}

.tablist:focus-within .control label {
  background-color: yellow;
}

.control {
  display: inline-block;
}
.control label {
  border: 1px solid black;
  margin: 0 0 -1px 0;
  padding: 4px 10px;
}

input[type="radio"]:checked + label {
  background-color: lightyellow !important;
  border-bottom-color: lightyellow;
}

a:focus,
input:focus,
input[type="radio"]:focus + label {
  outline: 2px dotted;
  outline-offset: 2px;
}

input[type="radio"] + label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.panel {
  border: 1px solid;
  background-color: lightyellow;
  padding: 0 0 0 10px;
}
