.nav-list {
	&-main {
		margin-top: - $gutter / 2;
		& > .nav-list--item {
			padding-left: 20px;
			& > .nav-list--link {
				display: block;
				@include font-weight(bold);
				padding: $gutter / 2 0;
			}
		}
	}
	&-subnav {
		margin-left: 20px;
	}
}
.nav-list--item {
  &:last-child {
    margin-bottom: $gutter;
  }
  &-inactive {
    display: none;
  }
}
.nav-list--link {
	display: block;
	padding: $gutter / 4 0;
  position: relative;
	&-current {
    @include theme(color, var(--theme-color-dark));
    &:before {
      content: ">";
      position: absolute;
      transform: translate(-.25em, -50%);
      right: 100%;
      top: 50%;
      font-size: 10px;
    }
	}
	&-active {
		@include font-weight(bold);
	}
  &:hover {
    @include theme(color, var(--theme-color-dark));
    text-decoration: underline;
  }
}
