{{#each this}}
  <li class="nav-list--item">
    <a class="nav-list--link{{#isActive @root.currentUrl url}} nav-list--link-active{{/isActive}}{{#isCurrent @root.currentUrl url}} nav-list--link-current{{/isCurrent}}" href="/{{url}}"{{#if children}} id="nav{{@key}}" aria-haspopup="true" aria-expanded="false"{{/if}}>
      {{title}}

      <span class="visuallyhidden">
        {{#isActive @root.currentUrl url}}(active page){{/isActive}}
        {{#isCurrent @root.currentUrl url}}(current page){{/isCurrent}}
      </span>
    </a>

    {{#if children}}
      <ul class="nav-list nav-list-subnav" aria-labelledby="nav{{@key}}">
        {{> "global/nav-list/nav-list" children}}
      </ul>
    {{/if}}
  </li>
{{/each}}
