{{#each navigation}}
  {{#unless (skipPage this ../sublevel)}}
    <li class="nav-list--item">
      <a class="nav-list--link " href="/{{url}}"{{#if children}} id="nav{{@key}}" aria-haspopup="true" aria-expanded="false"{{/if}}>
        {{title}}
      </a>

      {{#if children}}
        <ul class="nav-list nav-list-subnav" aria-labelledby="nav{{@key}}">
          {{> "global/nav-list/nav-list" navigation=children sublevel=true}}
        </ul>
      {{/if}}
    </li>
  {{/unless}}
{{/each}}
