{{#each this}}
  <li class="nav-list--item">
    <a class="nav-list--link{{#if isActive}} nav-list--link-active{{/if}}{{#if isCurrent}} nav-list--link-current{{/if}}" href="/{{url}}"{{#if children}} id="nav{{@key}}" aria-haspopup="true" aria-expanded="false"{{/if}}>
      {{title}}

      <span class="visuallyhidden">
        {{#if isActive}}(active page){{/if}}
        {{#if isCurrent}}(current page){{/if}}
      </span>
    </a>

    {{#if children}}
      <ul class="nav-list nav-list-subnav" aria-labelledby="nav{{@key}}">
        {{> "global/nav-list/nav-list" children}}
      </ul>
    {{/if}}
  </li>
{{/each}}
