body {
  margin-top: 0;
}

#caption {
  width: 810px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: -51px;
  position: fixed;
  background-color: #fff;
  text-align: center;
}

.table {
  border-left: 1px solid;
  border-bottom: 1px solid;
  display: table;
  margin-top: 57px;
}

.thead {
  position: fixed;
  top: 30px;
}

.tbody {
  padding-top: 6px;
}

.tr {
  display: table-row;
}

.th, .td {
  border-top: 1px solid;
  border-right: 1px solid;
  padding: 4px 8px;
  display: table-cell;
}

.th {
  font-weight: bold;
}
.th[role="rowheader"] {
  background-color: lightgreen;
}
.th[role="columnheader"] {
  background-color: lightpink;
}

.name {
  width: 200px;
}

.description {
  width: 400px;
}

.resources {
  width: 200px;
}
