.theme {
	background-color: var(--theme-bg-color);
	.main_title {
		color: var(--theme-main-color);
	}
	.main_title {
		color: var(--theme-main-color);
	}
}

.theme-1 {
	--theme-bg-color: $c-white;
	--theme-main-color: $c-green;
}

.theme-2{
	--theme-bg-color: $c-green;
	--theme-main-color: $c-yellow-light;
}

