.breadcrumbs {
    margin-top: $gutter;
    margin-bottom: $gutter;
    @include mobile {
        margin-top: $gutter / 4;
        margin-bottom: $gutter / 4;
    }
    &:before {
        content: "📍";
        font-size: 1.5em;
        vertical-align: middle;
    }

    h2 {
      display: inline-block;
      font-size: 0.8rem;
      font-weight: bold;
    }
}


.breadcrumbs--list {
    display: inline-block;
    font-size: 0;
}

.breadcrumbs--list--item {
    display: inline-block;
    & + & {
        margin-left: $gutter / 4;
    }

    &:last-child {
        a:after {
            display: none;
        }
    }
}

.breadcrumbs--list--item--link {
    display: block;
    @include font-xs;
    &:after {
        content: "/";
        padding-left: $gutter / 4;
        display: inline-block;
    }
    //.is-back-link &,
    &:hover {
      @include theme(color, var(--theme-color-dark));
      text-decoration: underline;
    }

    &:focus {
      outline: 2px dotted var(--theme-color-dark);
    }
}
