.breadcrumbs {
    margin-top: $gutter;
//    margin-bottom: 2 * $gutter;
}


.breadcrumbs--list {
    display: block;
    font-size: 0;
}

.breadcrumbs--list--item {
    float: left;
    & + & {
        margin-left: $gutter / 2;
    }
}

.breadcrumbs--list--item--link {
    display: block;
    @include font-s;
}
