<nav class="breadcrumbs">
    <h2 class="visuallyhidden">
        Sie befinden sich hier:
    </h2>
    <ol class="breadcrumbs--list">
      {{#each breadcrumb}}
        <li class="breadcrumbs--list--item{{#if @last}} is-back-link{{/if}}" role="presentation">
            <a class="breadcrumbs--list--item--link" href="/{{url}}">{{title}}</a>
        </li>
      {{/each}}
    </ol>
</nav>
