<nav class="breadcrumbs">
    <h2 class="visuallyhidden">
        Sie befinden sich hier:
    </h2>
    <ol class="breadcrumbs--list">
        <li class="breadcrumbs--list--item" role="presentation">
            <a class="breadcrumbs--list--item--link" href="">Ebene 1</a>
        </li>
        <li class="breadcrumbs--list--item is-back-link" role="presentation">
            <a class="breadcrumbs--list--item--link" href="">Ebene 2</a>
        </li>
    </ol>
</nav>
