@mixin text_lead {
  font-size: 1.5em;

  @include mobile {
    font-size: 1.25em;
  }

  margin-bottom: 5rem;

  @media (max-width: $mq-mobile) {
    margin-bottom: 3.5rem;
  }

  @media (max-width: $mq-mobile-narrow) {
    margin-bottom: 4.5rem;
  }

  strong {
    font-weight: 300;
  }
}

@mixin text_container {
  @include richtext(all);
  h1 {
    @include h1;
    @include theme-color;
    letter-spacing: 0.05em;
    padding-top: 1.25em;
    padding-bottom: 0.6em;

    @media (max-width: $mq-tablet) {
      padding-top: 1.5em;
    }

    @media (max-width: $mq-mobile) {
      padding-top: 1.2em;
      padding-bottom: 1em;
    }

    @media (max-width: $mq-mobile-narrow) {
      padding-top: 1.9em;
      padding-bottom: 1.5em;
    }
  }
  h2 {
    @include theme-color;
    .anchor-link {
      color: $c-font;
    }
  }

  a {
    color: var(--theme-color-dark);
  }

  blockquote {
    padding-left: 22px;
    border-left: 6px solid var(--theme-main-color);
    font-style: italic;
  }

  p, p > a, li, pre {
    > code {
      background-color: var(--theme-main-color-inverse, $c-white);
      color: var(--theme-color-dark);
      padding: .1em .25em;
      border-radius: 3px;
      font-weight: 700;
      @include font-xs;
    }
  }
  pre {
    background-color: transparent;

    code {
      border: none;
      padding: 10px 16px;
      border-radius: 10px;
    }
  }

  a:focus {
    outline: 2px dotted var(--theme-color-dark);
    outline-offset: 4px;
    color: var(--theme-color-dark);
  }

  table, th, td {
    margin: 1em 0;
    padding: 10px;
    border: 1px solid var(--theme-color-dark);
  }

  th {
    background-color: var(--theme-main-color-inverse, $c-white);
  }

  td {
    font-weight: 300;
  }

  ol {
    padding-left: 26px;
    li {
      list-style: inherit;
    }
  }

  img.agency-logo {
    float: right;
    width: 25%;
    border: none;
    margin-left: 2em;
    margin-bottom: 2em;
    background-color: transparent;
  }

  img.zfa-logo {
    border-radius: 10px;
    background-color: var(--theme-main-color-inverse, $c-white);
    border-color: var(--theme-main-color);
    padding: 1.5em 2em;
  }
}
