@mixin text_container {
	@include richtext(all);
  h1 {
    @include h1;
    @include theme-color;
    letter-spacing: 0.05em;
    padding-top: 2em;
    padding-bottom: 1.5em;

    + p {
      font-size: 1.5em;
      margin-bottom: 100px;

      strong {
        font-weight: 300;
      }
    }
  }
  h2 {
    @include theme-color;
  }
  p, li {
    > code {
      background-color: var(--theme-color-light);
      border: 1px solid var(--theme-color-dark);
      padding: .1em .25em;
      border-radius: 3px;
    }
  }
  pre code {
    border: 1px solid black;
    @include theme(border-color, main);
    @include font-xs;
  }

  a:focus {
    outline: 2px dotted var(--theme-color-dark);
    outline-offset: 4px;
    color: var(--theme-color-dark);
  }

  table, th, td {
    margin: 1em 0;
    padding: 10px;
    border: 1px solid var(--theme-color-dark);
  }

  th {
    background-color: var(--theme-color-light);
  }

  td {
    font-weight: 300;
  }
}
