
.button {
  background-color: var(--theme-color-light);
  border: 1px solid var(--theme-color-dark);
  color: var(--theme-color-dark);

  padding: .25em .5em;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: .5em; margin-right: .5em;
  &.is-active {
    @include theme(color, var(--theme-color-dark));
    @include theme(background-color, white);
  }
  &:hover {
    @include theme(background-color, var(--theme-color-light));
  }

  &:focus {
    outline: 2px dotted var(--theme-color-dark);
    outline-offset: 2px;
  }

  @include btn-focus;
}
