.control, .fieldset {
  margin: 6px 0;
}

label, .label {
  display: inline-block;
  width: 120px;
  vertical-align: top;
}

.fieldset {
  position: relative;
  border: 2px groove threedface;
  padding: 10px;
}

.legend {
  background-color: #fff;
  position: absolute;
  left: 10px;
  top: -12px;
  padding: 2px;
}

#button {
  padding: 2px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: threedface;
}
#button:hover {
  cursor: default;
}