<span class="author{{#if className}} {{className}}{{/if}}">
  {{#if gravatarUrl}}
    <img
      class="author__avatar"
      src="{{gravatarUrl}}"
      alt=""
      loading="lazy"
      width="24"
      height="24"
    >
  {{/if}}
  <span class="author__name">by {{name}}</span>
</span>
