.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

body {
  padding: 20px;
}

.carousel {
  border: 1px solid black;
  padding: 10px 10px 50px 10px;
  margin-bottom: 20px;
  position: relative;
  background-color: #cff7cf;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #4ec54e;
  padding: 8px 0 10px 0;
  border-top: 1px solid #000;
}

.control {
  display: inline-block;
}
.control label,
.control button {
  height: 25px;
  border: 1px solid black;
  background-color: lightgray;
  vertical-align: middle;
}
.control label {
  width: 25px;
  margin: 0 5px;
}

input[type="radio"]:checked + label {
  background-color: black;
}

button:focus,
a:focus,
input:focus,
input[type="radio"]:focus + label {
  outline: 2px dotted red;
  outline-offset: 2px;
}

input[type="radio"] + label:hover {
  cursor: pointer;
}

.panel {
  border: 1px solid;
  background-color: white;
  padding: 0 0 0 10px;
}